header,main,footer{
  padding-left:250px
}
@media only screen and (max-width: 992px){
  header,main,footer{
    padding-left:0
  }
  h5>span{
    display:block;margin:0 0 15px 0
  }
}
@media (max-width: 425px){
  #judul b{
    font-size: 0.87em
  }
  #judul span{
    font-size: 0.87em
  }
	#tugas h5{
		font-size: 15px
	}

}
@media (max-width: 375px){
  #judul b{
    font-size: 0.72em
  }
  #judul span{
    font-size: 0.72em
  }
  #tugas h5{
    font-size: 15px
  }

}
@media (max-width: 374px){
  #judul b{
    font-size: 0.66em
  }
  #judul span{
    font-size: 0.66em
  }
  #tugas h5{
    font-size: 15px
  }

}
@media (max-width: 320px){
  #judul b{
    font-size: 0.55em
  }
  #judul span{
    font-size: 0.55em
  }
  #tugas h5{
    font-size: 15px
  }

}
